@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  background-color: #FFF7F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.banner {
  border-radius: 10px;
  position: relative;
  margin: 20px 0;
  height: 111px;
  animation: fadeIn 500ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .banner {
    height: 167px;
  }
}
@media only screen and (min-width: 992px) {
  .banner {
    height: 223px;
  }
}
.banner__img {
  border-radius: inherit;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner__overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.banner__text {
  position: absolute;
  top: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding-left: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .banner__text {
    font-size: 36px;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .banner__text {
    font-size: 48px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.collapse {
  color: #fff;
  margin-bottom: 20px;
}
.collapse:nth-of-type(1) {
  animation: show-up 600ms 120ms both;
  transform-origin: center;
}
.collapse:nth-of-type(2) {
  animation: show-up 600ms 240ms both;
  transform-origin: center;
}
.collapse:nth-of-type(3) {
  animation: show-up 600ms 360ms both;
  transform-origin: center;
}
.collapse:nth-of-type(4) {
  animation: show-up 600ms 480ms both;
  transform-origin: center;
}
.collapse__button {
  color: #f7f7f7;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #FF823A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 350px) {
  .collapse__button {
    height: 38px;
  }
}
@media only screen and (min-width: 768px) {
  .collapse__button {
    height: 46px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .collapse__button {
    height: 52px;
  }
}
.collapse__arrow {
  margin-right: 1rem;
  pointer-events: none;
  transform: rotate(90deg);
  transition: transform 300ms;
  transform-origin: bottom -25%;
  translate: -50% -50%;
}
@media only screen and (min-width: 768px) {
  .collapse__arrow {
    height: 13px;
  }
}
@media only screen and (min-width: 992px) {
  .collapse__arrow {
    height: 17px;
  }
}
.collapse__content {
  color: #FF823A;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: -5px;
  z-index: -1;
  max-height: 0;
  transition: max-height 250ms ease-out, padding 300ms ease-out;
  overflow: hidden;
  padding-left: 12px;
}
.collapse__text {
  margin: 0;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .collapse__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .collapse__text {
    font-size: 18px;
  }
}
.collapse__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .collapse__list {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .collapse__list {
    font-size: 18px;
  }
}
.collapse__list-element {
  margin-bottom: 3px;
}

.rotate {
  transform: rotate(270deg);
}

.show {
  max-height: 500px;
  padding: 24px 12px 12px 12px;
  transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
}

@keyframes show-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.thumb {
  width: 100%;
  height: 255px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  animation: fadeInUp 600ms ease-in-out;
  overflow: hidden;
}
.thumb__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: transform 300ms;
}
.thumb__title {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 20px;
  color: #fff;
  box-sizing: inherit;
}
.thumb__overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.thumb:hover > .thumb__img {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.rating {
  display: flex;
  align-items: center;
}
.rating__icon {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .rating__icon {
    height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .rating__icon {
    height: 20px;
  }
}

.server {
  display: flex;
  justify-content: flex-end;
}
.server__name {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .server__name {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .server__name {
    font-size: 18px;
  }
}
.server__name p {
  margin: 0;
  text-align: end;
}
.server__picture {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
@media only screen and (min-width: 768px) {
  .server__picture {
    height: 48px;
    width: 48px;
  }
}
@media only screen and (min-width: 992px) {
  .server__picture {
    height: 64px;
    width: 64px;
  }
}

.slider {
  position: relative;
}
.slider__active-picture {
  height: 255px;
  width: 100%;
  transform: scale(1);
  transition: transform 300ms;
}
@media only screen and (min-width: 350px) {
  .slider__active-picture {
    height: 295px;
  }
}
@media only screen and (min-width: 768px) {
  .slider__active-picture {
    height: 335px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__active-picture {
    height: 375px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__active-picture {
    height: 415px;
  }
}
.slider__inactive-picture {
  transform: scale(1.05);
  transition: transform 300ms;
}
.slider__picture {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}
@media only screen and (min-width: 350px) {
  .slider__picture {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .slider__picture {
    border-radius: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__picture {
    border-radius: 25px;
  }
}
.slider__previous, .slider__next {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider__next {
  right: 0;
}
.slider__next-icon {
  margin-right: 5px;
}
.slider__previous-icon {
  margin-left: 5px;
}
.slider__next-icon, .slider__previous-icon {
  height: 16px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
@media only screen and (min-width: 350px) {
  .slider__next-icon, .slider__previous-icon {
    height: 27px;
  }
}
@media only screen and (min-width: 768px) {
  .slider__next-icon, .slider__previous-icon {
    height: 38px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__next-icon, .slider__previous-icon {
    height: 50px;
  }
}
.slider__counter {
  display: none;
}
@media only screen and (min-width: 992px) {
  .slider__counter {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 25px;
    font-weight: 500;
    left: 50%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  }
}

.tag {
  background: #FF823A;
  border-radius: 5px;
  color: #fff;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 68px;
  text-align: center;
}
@media only screen and (min-width: 350px) {
  .tag {
    padding: 4px 12px;
    border-radius: 7px;
  }
}
@media only screen and (min-width: 992px) {
  .tag {
    padding: 5px 14px;
    border-radius: 10px;
  }
}
.tag__text {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}
@media only screen and (min-width: 350px) {
  .tag__text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .tag__text {
    font-size: 14px;
  }
}

.thumb {
  width: 100%;
  height: 255px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  animation: fadeInUp 600ms ease-in-out;
  overflow: hidden;
}
.thumb__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: transform 300ms;
}
.thumb__title {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 20px;
  color: #fff;
  box-sizing: inherit;
}
.thumb__overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.thumb:hover > .thumb__img {
  transform: scale(1.01);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
@media only screen and (min-width: 350px) {
  .navbar {
    margin: 2% 2%;
  }
} */

/* .navbar__links {
  display: flex;
  width: 33%;
  justify-content: space-around;
} */

.navbar__links--active {
  color: #FF823A;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  text-decoration: none;
}


/* @media only screen and (min-width: 350px) {
  .navbar__links--active {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__links--active {
    font-size: medium;
  }
}
@media only screen and (min-width: 992px) {
  .navbar__links--active {
    font-size: large;
  }
}
.navbar__links--inactive {
  color: #393C46;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  font-weight: 600;
}
@media only screen and (min-width: 350px) {
  .navbar__links--inactive {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__links--inactive {
    font-size: medium;
  }
}
@media only screen and (min-width: 992px) {
  .navbar__links--inactive {
    font-size: large;
  }
}
.navbar__img {
  height: 47px;
}
@media only screen and (min-width: 350px) {
  .navbar__img {
    height: 53px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__img {
    height: 61px;
  }
}
@media only screen and (min-width: 992px) {
  .navbar__img {
    height: 35px;
  }
} */

.footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #393C46;
}

.footer__liste__title{
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .footer {
    justify-content: end;
  }
}
.footer__text {
  font-weight: 500;
  font-size: 12px;
}
@media only screen and (min-width: 350px) {
  .footer__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__text {
    font-size: 24px;
  }
}

.about {
  margin: 0 5%;
}
.about__dropdowns {
  width: 90%;
  text-align: auto;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 992px) {
  .about__dropdowns {
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .home__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .home__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    background: #f7f7f7;
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .home__products {
    row-gap: 40px;
    column-gap: 60px;
  }
}

.error {
  color: #FF823A;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .error {
    height: 725px;
  }
}
.error__content {
  margin: 0 40px;
  text-align: center;
}
.error__number {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 350px) {
  .error__number {
    font-size: 160px;
  }
}
@media only screen and (min-width: 768px) {
  .error__number {
    font-size: 224px;
  }
}
@media only screen and (min-width: 992px) {
  .error__number {
    font-size: 288px;
  }
}
.error__text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  background-color: #FFF;
}
@media only screen and (min-width: 350px) {
  .error__text {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .error__text {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .error__text {
    font-size: 36px;
  }
}
.error__link {
  color: #FF823A;
  font-size: 14px;
  font-weight: 500;
  margin-top: 133px;
}
@media only screen and (min-width: 768px) {
  .error__link {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .error__link {
    font-size: 18px;
  }
}

.singleproduct {
  margin: 0 5%;
  color: #FF823A;
}
.singleproduct__content {
  margin-top: 20px;
}
@media only screen and (min-width: 992px) {
  .singleproduct__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.singleproduct__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 350px) {
  .singleproduct__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .singleproduct__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .singleproduct__title {
    font-size: 36px;
  }
}
.singleproduct__location {
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (min-width: 350px) {
  .singleproduct__location {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .singleproduct__location {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .singleproduct__location {
    font-size: 18px;
  }
}
.singleproduct__tags {
  display: flex;
  flex-wrap: wrap;
}
.singleproduct__rating-and-host {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .singleproduct__rating-and-host {
    flex-direction: column-reverse;
    justify-content: space-around;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .singleproduct__dropdowns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .singleproduct__dropdowns {
    column-gap: 80px;
  }
}

.book__img{
  width: 100%;
}

.maps__world{
  max-width: 100%;
}

.infos___recherche1{
  display: inline-flex;
  justify-content: space-around;
}

.ligne1__footer{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
}

.BookNow{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 165, 114, 0.4);;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 5% 10%;
}

.flight_img{
  margin: 0px 10px;
}

.Search_Book{
  background: linear-gradient(55.8deg, #FF823A 33.24%, #FFCF67 87.9%);
  padding: 15px 10px 30px 10px;
  border-radius: 10px;
}

.Search_All{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./design/background_book.jpg");
  height: 500px;
}

.search_line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #fff !important;
  font-size: 22px;
}

.Rechercher{
  background: #393C46;
  font-family: 'Poppins';
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  margin-top: -15px;
  padding: 13px 50px;
  border: none;

}

/* FOOTER  */
/* FOOTER  */
/* FOOTER  */
/* FOOTER  */

.footer {
	width: 100%;
	display: block;
 }

 .inner-footer {
  width: 100%;
	 margin: auto; 
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center; 
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #D9D9D9;
}

.footer-items h3 {
font-weight: 600;
font-size: 25px;
line-height: 38px;
color: #393C46;
text-transform: uppercase;
margin: 0%;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
  font-size: 20px;
  line-height: 30px;
  color: rgba(57, 60, 70, 0.6);
	letter-spacing: 0.5px;	
  padding: 0%;
 }

ul a {
	text-decoration: none;
	outline: none;
  line-height: 30px;
  color: rgba(57, 60, 70, 0.6);
  transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.footer-bottom {
	padding: 10px;
	color: #393C46;
	font-size: 16px;
	text-align: left;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}


@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

.parent { 
  display: flex; 
  flex-direction: row;
  margin: 0 10%;
  }

.divenfant{
  width: 50%
}

@media screen and (max-width: 920px) {
	.parent { 
    display: flex; 
    flex-direction: column;
    margin: 0 10%;
    }
  .divenfant{
    width: 100%
  }
}

/* TESTIMONIALS  */

@import url("https://fonts.googleapis.com/css?family=Roboto");

.carousel-testimonials {
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.carousel__content{
  height: 100%;
}

 .inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #fff;
}

.carousel__button__group{
  display: flex;
  justify-content: flex-end;
  margin-top: -85px;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

.carousel__button{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  border: 0;
  background: #FFFFFF;
  color: #FF823A;
  font: 18px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 10px rgba(255, 130, 58, 0.5));
}


.carousel__client{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 10px;
margin-top: 20px;
color: #393C46;
}

.carousel__typetravel{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  margin-top: 20px;
  color: #393C46;
  }


  .card {
    align-items: center;
    text-align: center;
    margin: 30px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
  }

  .ant-picker{
    padding: 6px 8px 6px;
  }
  
  .card h3 {
    margin: 10px 0;
  }
  
  .card button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 14px;
    border: 0px;
    background: #FF823A;
    padding: 20px 22px;
    line-height: 0px;
    margin: 10px 0px;
  }

  .carousel .slider-wrapper{
    min-height: 500px;
  }

  .Suggestion_Destinations  {
    margin: 0px 5% ;
;
  }

  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
    color: #393C46;
    margin: 5px;
    text-align: left;
  }

    h2 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 0px;
      color: #393C46;
      margin-left: 15px;
      text-align: left;
  }

  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
    color: #393C46;
    margin: 5px;
  }

  h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgba(57, 60, 70, 0.25);
  margin-left: 15px;
  text-align: left;
  }

  p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(57, 60, 70, 0.5);
  }

  .text__orange{
    color:#FF893E;
  }

  .choix_voyage_line1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 39px;
    color: #fff;
  }

  .ant-select-selection-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 15px;
    color: #fff;
  }

  .button_book_now{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 14px;
    border: 0px;
    background: #FF823A;
    padding: 20px 22px;
    line-height: 0px;
    margin: 10px 0px;
  }

  .control-dots{
    display: none;
  }

  .card img {
    border: none;
    border-radius: 20px 20px 0px 0px;
  }

.rating_suggestions{
  width: 20px;
  height: 20px;
}

.personne{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border-radius: 14px;
  border: 0px;
}

.carousel.carousel-slider .control-arrow{
  color : #FF823A !important;
}
.carousel.carousel-slider .control-arrow:hover{
  color : #FF823A !important;
}
.global{
  display: flex;
  flex-direction: row;
align-content: center;
align-items: center;
justify-content: space-between;
margin: 0px 10px;
}


/* NOUVEAU MENU */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,600');

*{
box-sizing: border-box;
margin:0;
padding: 0;
outline: none;
}

h1, p{
margin-bottom : 1rem;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
}

.navbar{
display: flex;
flex-wrap: wrap;
align-items: center;
position: fixed;
justify-content: space-between;
width:100%;
z-index: 1;
background-color: #000;
}

.navbar__links{
  display: flex;
}

.navbar__link{
  padding: 0 O.3rem;
  display: flex;
}

.navbar__burger { 
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}


@media screen and (max-width: 767px){
.navbar__links{
flex-direction: column;
justify-content: center;
align-items: center;
left:0;
position: fixed;
right: 0;
bottom: 0;
height: 100vh;
padding: 2rem;
background-color: #000;
z-index: 1;
}

.navbar__link {
display: block;
padding: 1.5rem;
font-size: 5vw;
}

.navbar__burger{
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.navbar__burger:hover{
  cursor: pointer;
}

.burger-bar
.burger-bar::before,
.burger-bar::after{ 
display: block;
width: 40x;
height: 3px;
position: relative;
border-radius: 3px;
background: #FFF;
} 

.burger-bar::before,
.burger-bar::after{ 
 content: "";
 left: 0;
}

.burger-bar::before{ 
 transform: translateY(-12px);
}

.burger-bar::after{ 
  transform: translateY(12px);
}
}